[submodule "submodules/pugixml"]
	path = submodules/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "submodules/easylogging"]
	path = submodules/easylogging
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "submodules/libxsmm"]
	path = submodules/libxsmm
	url = https://github.com/libxsmm/libxsmm.git
[submodule "submodules/exprtk"]
	path = submodules/exprtk
	url = https://github.com/3343/exprtk.git
[submodule "submodules/edge_pre"]
	path = submodules/edge_pre
	url = https://github.com/3343/edge_pre.git
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "submodules/wykobi"]
	path = submodules/wykobi
	url = https://github.com/ArashPartow/wykobi.git
[submodule "submodules/py-cpuinfo"]
	path = submodules/py-cpuinfo
	url = https://github.com/workhorsy/py-cpuinfo.git
[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
