[submodule "submodules/pugixml"]
	path = submodules/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "submodules/easylogging"]
	path = submodules/easylogging
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "submodules/libxsmm"]
	path = submodules/libxsmm
	url = https://github.com/hfp/libxsmm.git
[submodule "submodules/Catch"]
	path = submodules/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "submodules/exprtk"]
	path = submodules/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "submodules/edge_pre"]
	path = submodules/edge_pre
	url = https://github.com/3343/edge_pre.git
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "submodules/wykobi"]
	path = submodules/wykobi
	url = https://github.com/ArashPartow/wykobi.git
